* {
  box-sizing: border-box;
}

html {
  --color-white: #ffffff;
  --color-dark-gray: #696969;
  --color-light-gray: #e3e4e7;
  --color-light-blue: #adb9c3;
  --color-dark-blue: #3878a2;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

input {
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.4em;
}

strong,
br {
  font-weight: bold;
}
