.point-container {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--color-dark-blue);
  cursor: pointer;
  z-index: 1;
}

.point-container:active {
  box-shadow: unset !important;
}

.point-container .label {
  position: absolute;
  top: -21px;
  left: -12px;
  font-size: 13px;
  font-family: sans-serif;
  color: var(--color-dark-blue);
}
